
.filtered-movies{
    border-radius: 10px;
    position: absolute;
    top:10%;
    left:15.9%;
    z-index: 1;
    width: 1000px;
    height: auto;
    min-width: none;
    min-height: 80vh;
    overflow: auto;
    background-color: rgba(127, 89, 89, 0.514);
}

.movies-container{
    position: absolute;
    margin-top: 60px;
    z-index: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap
    }
  
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: hidden;
}